
<form [formGroup]='rForm' (ngSubmit)="addForm(rForm.value)">
    <div class="form-group">
      <label >Provider Name</label>
      <input type="email" class="form-control" id="name" placeholder="Please Enter Valid Credentials"  formControlName="name">
      <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">Validate Alpha with Space</div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
      <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Enter Passsword</div>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid" routerLink = "feedbackList">Submit</button>
  </form>
